name: Validate Genesis and collect gentxs
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          wget https://github.com/althea-net/althea-L1/releases/download/v1.0.0-rc1/althea-linux-amd64
          chmod +x althea-linux-amd64
          sudo mv althea-linux-amd64 /bin/althea
          althea init test --chain-id althea_417834-4
          mkdir $HOME/.althea/config/gentx
          cp ./althea-l1-dress-rehersal-genesis.json $HOME/.althea/config/genesis.json
          cp ./gentx/* $HOME/.althea/config/gentx/
      - name: Validate Genesis
        run: althea validate-genesis
      - name: Collect Gentxs
        run: althea collect-gentxs